<div class="container mt-3">
<h2>Employee List</h2>
<table >
    <thead>
        <tr>
        <th>EmployeeId</th>
        <th>Employee Name</th>
        <th>Salary</th>
        <th>JoinDate</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Grading</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.employeeId | titlecase}}</td>
            <td>{{emp.fullName() | titlecase}}</td>
            <td>{{emp.salary | currency : 'INR' : true :'1.2-2'}}</td>
            <td>{{emp.joindate | date : 'medium'}}</td>
            <td>{{emp.department | lowercase}}</td>
            <td>{{emp.designation | uppercase}}</td>
            <td>{{emp.grading | number : '1.1-1'}}</td>
            
        </tr>
    </tbody>
</table>
</div>
